:root{
    --cor-fundo: #65a2d8 ;
    --cor-principal: #7eb3df ;
    --cor-secundaria: #b0d2f8; 
    --cor-destaque: #000000e0;
    --cor-texto: #000000;

}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.caixa-principal{
    background-color: var(--cor-principal);
    width: 80%;
    max-width: 500px;
    text-align: center;
    padding: 28px;
}

h1{
    color: var(--cor-destaque);
}

button {
    background-color: var(--cor-secundaria);
    color: var(--cor-texto);
    border: none;
    border-radius: 13px;
    padding: 23px;
    transition: background-color 0.5s;
}

button:hover{
    background-color: var(--cor-destaque);
    color: var(--cor-principal);
}